<!-- views/partials/errors.ejs -->
<% if (locals.errors && errors.length > 0) { %>
<ul>
   <% errors.forEach(function(error) { %>
   <li><%= error.msg || error %></li>
   <% }); %>
</ul>
<% } else if (message) { %>
<ul>
   <li><%= message %></li>
</ul>
<% } %>


<!-- views/partials/errors.ejs -->
<% if (errors && errors.length > 0) { %>
<ul>
  <% errors.forEach(function(error) { %>
    <li><%= error.msg || error %></li>
  <% }); %>
</ul>
<% } %>
